<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sysfarma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ClienteActivity"
            android:label="@string/cliente"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.TipoMedicamentoActivity"
            android:label="@string/tipo_medic"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.VendaActivity"
            android:label="@string/venda"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.MedicamentoActivity"
            android:label="@string/medic"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.FuncionarioActivity"
            android:label="@string/funcionario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.FornecedorActivity"
            android:label="@string/fornecedor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>